* {
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}
h1{
  text-align: center;
  font-size:175%;
}
.row {
  width: 100%;
}
.content{
  background-color: #A8A8A8;
  border: 2px solid black;
  margin:10px;
}

h3{
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
  float: right;
  text-align: center;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 125%;
  margin:0px;
}
#title-region1{background-color: pink;}
#title-region2{background-color: red; color: white;}
#title-region3{background-color: yellow;}

p{
  padding: 20px;
}

section{
  float: left;
  position: relative;
  height: 200px;
}
 
/*Desctop Version*/
@media (min-width:  992px) {
section {
    width: 33.33%;
  }
 }
/*Tablet Version*/
@media (max-width: 991px) and (min-width: 768px) {
section {
    width: 50%;
  }
  section:nth-child(3){
    width: 100%;
  }
}
/*Mobile Version*/
@media (max-width: 767px) {
section {
    width: 100%;
  }
}

