body {
  font-size: 16px;
}

.navbar-brand {
    font-size:30px;
    font-weight:bold;
}
.navbar-toggle {
  margin-top:25px;
}
li{
    text-align: center;
    border-bottom: 1px solid black;
    font-size:20px;
}
h2, h3{
  font-weight:bold;
}
.section-background-color{
background-color:#EfEfEf;
margin:20px;
}
p, h3{
  padding:10px;
}